# data directories
data/raw/*
data/processed/*

# python etc
__pycache__

# other
sample/*
notebooks
.claude
.markdownlint.jsonc
anti-poojinator-3000.code-workspace

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
